<div class="container text-center mt-5">

  <div class="card-ahorcado">

    <h1 class="mb-3">Ahorcado</h1>

    <div class="info d-flex justify-content-center gap-4 mb-4">

      <span class="badge bg-dark fs-6 p-2">
        Puntaje: {{ puntaje }}
      </span>

      <span class="badge bg-danger fs-6 p-2">
        Errores: {{ errores }} / {{ maxErrores }}
      </span>

    </div>

    <!-- HORCA -->
    <div class="horca-container">

      <div class="base"></div>

      <div class="poste"></div>

      <div class="techo"></div>

      <div class="soga"></div>

      <div class="cabeza" *ngIf="errores >= 1"></div>

      <div class="cuerpo" *ngIf="errores >= 2"></div>

      <div class="brazo-izq" *ngIf="errores >= 3"></div>

      <div class="brazo-der" *ngIf="errores >= 4"></div>

      <div class="pierna-izq" *ngIf="errores >= 5"></div>

      <div class="pierna-der" *ngIf="errores >= 6"></div>

    </div>

    <!-- PALABRA -->
    <h2 class="palabra mt-4">
      {{ mostrarPalabra() }}
    </h2>

    <!-- LETRAS -->
    <div class="letras mt-4">

      @for(letra of abecedario; track letra){

        <button
          class="btn-letra"
          (click)="seleccionarLetra(letra)"
          [disabled]="letrasUsadas.includes(letra)">

          {{ letra }}

        </button>

      }

    </div>

  </div>

</div>

@if(mostrarModal){

<div class="modal-backdrop-custom">

  <div class="modal-box">

    <h2>{{ mensajeModal }}</h2>

    <button
      (click)="cerrarModal()"
      class="btn btn-dark mt-3">

      Continuar

    </button>

  </div>

</div>

}