.container{

  min-height: 100vh;

}

button{

  width: 120px;
  height: 120px;

  border-radius: 20px;

  transition: .2s;

}

button:hover{

  transform: scale(1.1);

}

.card{

  max-width: 500px;

  margin: auto;

}